<div class="row">
    <div class="col-lg-6">
        <div class="widget blue-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs"> statik</h1>

                <h3 class="font-bold no-margins">
               
                </h3>
                <p>
                   statik
                </p>
            </div>        <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>  



    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">  Son Eklenen Blog</h1>

                <h3 class="font-bold no-margins">
               
                </h3>
                <p>
                    @ViewBag.v1
                </p>
            </div>        <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>  
</div>

