<div class="tech-btm widget_social">
	<h4>Sosyal Medya Hesaplarımız</h4>
	<ul>
	
		<li>
			<a class="facebook" href="https://www.facebook.com/BilsoftYazilim/">
				<i class="fab fa-facebook-f"></i>
				<span class="count"></span> Facebook
			</a>
		</li>
		<li>
			<a class="dribble" href="https://www.instagram.com/bilsoftyazilim/">
				<i class="fab fa-instagram"></i>

				<span class="count"></span> Instagram
			</a>
		</li>
		<li>
			<a class="twitter" href="https://twitter.com/bilsoftyzlm">
				<i class="fab fa-twitter"></i>
				<span class="count"></span> Twitter
			</a>
		</li>
		<li>
			<a style="background-color:red" class="dribble" href="https://www.youtube.com/channel/UCswWwGeNRqRMYIVLF8YzqsQ/videos">
				<i class="fab fa-youtube"></i>

				<span class="count"></span> Youtube
			</a>
		</li>
		<li>
			<a style="background-color:dodgerblue" class="dribble" href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/">
				<i class="fab fa-linkedin"></i>

				<span class="count"></span> Linkedin
			</a>
		</li>
	</ul>
</div>