<div style="margin-left:10px;">
	<a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/BilsoftYazilim/" role="button">
	<i class="fab fa-facebook-f"></i>
</a>

<!-- Twitter -->
	<a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com/bilsoftyzlm" role="button">
	<i class="fab fa-twitter"></i>
</a>

<!-- Instagram -->
	<a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/bilsoftyazilim/" role="button">
	<i class="fab fa-instagram"></i>
</a>

<!-- Linkedin -->
	<a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/company/bilsoftyazilim/" role="button">
	<i class="fab fa-linkedin-in"></i>
</a>


<!-- Youtube -->
	<a class="btn btn-primary" style="background-color: #ed302f;" href="https://www.youtube.com/channel/UCswWwGeNRqRMYIVLF8YzqsQ/videos" role="button">
	<i class="fab fa-youtube"></i>
</a>
</div>
